/* format css */
/* Project_Part1_WEB110-N801_Lor, Kathy */

/* Tutorial 2: formate background and text */
body{
	background-color: #99b2dd;
}

.title{
	color:#333f56;
}
.text{
	color:#333f56;
}
	